@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@layer components {
  .btn-primary {
    @apply bg-primary-main disabled:text-greyscale-dark-grey/40 text-greyscale-white text-h4 disabled:bg-greyscale-ui-grey focus:ring-primary-light inline-flex items-center justify-center rounded-sm px-6 py-3 font-bold -tracking-tighter focus:ring-2 focus:ring-offset-2;
  }
}
